for status in statuses
  img.img-rounded.img-polaroid(src=status.thumbnail_pic, data-middle=status.bmiddle_pic, data-original=status.original_pic, data-thumbnail=status.thumbnail_pic, data-id=status.id)